<span style="color:red;font-weight:bold">Jayant Solanki</span>
<span style="color:red;font-weight:bold">Anant Gupta</span>
<br/>
<hr/>
### <span style="float:right">Python Code Expositions</span>
<hr/>

In [2]:
#3.3.1 Hello World Script
print("hello world!")

hello world!

In [9]:
#3.3.2 More complicated scripts
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}

def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
    {'employee_name': 'Susan', 'salary': 100000.0,
    'state_code': 'WA'},
    {'employee_name': 'Ellen', 'salary': 75000.0,
    'state_code': 'TX'},
]
for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print (name + ' now lives in ' + state)
    print ('and makes $' + str(salary))

Susan now lives in Washington
and makes $105000.0
Ellen now lives in Texas
and makes $78750.0

In [11]:
#3.3.4 Atomic Data Types
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
#boolean values
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)

In [6]:
#3.4 Strings
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1
line 2"""
"ABCD"[0]

'A'

In [7]:
"ABCD"[0:2]

'AB'

In [8]:
"ABCD"[1:3]

'BC'

In [9]:
"ABCD"[1:]

'BCD'

In [10]:
"ABCD"[:-1]

'ABC'

In [14]:
# 3.4.1 Comments and Docstrings
# This whole line is a comment
a = 5 # and the last part of this line is too
def sqr(x):
    "This function just squares its input "
    return x * x

In [26]:
# 3.4.2 Complex Data Types
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)
# 3.4.3 Lists
my_list = ["a ", "b ", "c "]
print (my_list[0]) # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]

original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list if x%2==0]## bug in the original program
my_list = ["a", "b", "c"]
first_two_elements = my_list[0:3]
my_list = ["a", "b", "c"]
first_two_elements = my_list[:3]
last_two_elements = my_list[1:]
my_list = ["a", "b", "c"]
all_but_last_element = my_list[:-1]

a

In [29]:
# 3.4.4 Strings and Lists
"ABC DEF".split()

['ABC', 'DEF']

In [33]:
"ABC \tDEF".split() # different output from the book

['ABC', 'DEF']

In [34]:
"ABC \tDEF".split(' ') # different output from the book

['ABC', '\tDEF']

In [32]:
"ABCABD".split("AB")

['', 'C', 'D']

In [35]:
",".join(["A", "B", "C"])

'A,B,C'

In [36]:
start, end, count_by = 1, 7, 2
"ABCDEFG"[start: end: count_by]

'BDF'

In [37]:
# 3.4.5 Tuples

In [39]:
my_tuple = (1, 2, "hello world")
print (my_tuple[0]) # prints 1
my_tuple[1] = 5 # This will give an error!

1

TypeError: 'tuple' object does not support item assignment

In [40]:
my_tuple = (1, 2)
zeroth_field, first_field = my_tuple

In [47]:
# 3.4.6 Dictionaries
my_dict = {"January": 1, "February":2}
print (my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value

1

In [48]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()

In [50]:
# 3.4.7 Sets
s = set()
5 in s

False

In [52]:
s.add(5)
5 in s

True

In [53]:
s.add(5) # does nothing

In [55]:
# 3.5 Defining Functions
def my_function(x):
    y = x+1
    x_sqrd = x*x
    return x_sqrd
five_plus_one_sqrd = my_function(5)
print(five_plus_one_sqrd)

25

In [61]:
def raisee(x, n=2):# bug, raise keyword cant be used in python3
    return pow(x,n)
two_sqrd = raisee(2)
print(two_sqrd)
two_cubed = raisee(2, n=3)
print(two_cubed)
sqr = lambda x : x*x
five_sqrd = sqr(5)
print(five_sqrd)

4
8
25

In [62]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
print(sqrs_of_evens)

[4, 16]

In [66]:
# 3.5.1 For Loops and Control Structures
my_list = [1, 2, 3]
for x in my_list:
    print ("the number is ", x)
for key, value in my_dict.items():
    print ("the value for ", key, " is ", value)

the number is  1
the number is  2
the number is  3
the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3

In [72]:
i = 0# not declared in the book
if i < 3:
    print ("i is less than three")
elif i < 5: print ("i is between 3 and 5")
else: print ("i is greater than 5")

i is less than three

In [73]:
# while loop
i = 0
while i < 5:
    print ("i is still less than five")
    i = i+1

i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [77]:
# 3.5.3 Exception Handling
try:
    lines = input_text.split("\n")
    print ("tenth line was: ", lines[9])
except:
    print ("There were < 10 lines")

There were < 10 lines

In [80]:
# 3.5.5 Classes and Objects
class Dog:
    def __init__(self, name):
        self.name = name
    def respond_to_command(self, command):
          if command == self.name: self.speak()
    def speak(self):
          print ("bark bark!!")
fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark

bark bark!!

In [83]:
# 3.5.6 GOTCHA: Hashable and Unhashable Types
a = 5# a is a hashable int
b = a# b points to a COPY of a
a = a + 1
print (b) # b has NOT been incremented
A = [] # A is an UNhashable list
B = A
# B points to the SAME list as A.
A.append(5)

5

In [84]:
A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

'bob'

In [93]:
# 3.6 Python’s Technical Libraries
# 3.6.1 Dataframes
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})
# Reading a DataFrame from a file
other_df = pd.read_csv("myfile.csv")
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [96]:
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})
print (df.index) # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print (df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print (bobs_row["age"]) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

/home/jayant/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

In [98]:
# 3.6.2 Series
# import Pandas. I always alias it as pd
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
s

0    1
1    2
2    3
dtype: int64

In [99]:
s+2

0    3
1    4
2    5
dtype: int64

In [101]:
bobs_row = df_w_name_as_ind.ix["Bob"]
type(bobs_row)

pandas.core.series.Series

In [102]:
bobs_row

age    60
Name: Bob, dtype: int64

In [105]:
# 3.6.3 Joining and Grouping
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})
joined = df_w_age.set_index("name").join(df_w_height.set_index("name"))
print(joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [106]:
df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
})

In [107]:
# use built-in aggregates
print (df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [108]:
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
        "name": max(ddf["name"]),
        "oldest": max(ddf["age"]),
        "mean_height": ddf["height"].mean()
        })
print (df.groupby("gender").apply(agg))

        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60